<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wocai.jrt.employee.dao.CheckinDao" >
  <resultMap id="checkinResultMap" type="com.wocai.jrt.employee.model.Checkin" >
    <!--
      WARNING - 结果集映射，不含Blob字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="VARCHAR" />
    <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    <result column="sign_time" property="signTime" jdbcType="TIMESTAMP" />
    <result column="sign_out_time" property="signOutTime" jdbcType="TIMESTAMP" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="px" property="px" jdbcType="DECIMAL" />
    <result column="py" property="py" jdbcType="DECIMAL" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="investor_id" property="investorId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sign_date" property="signDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - 该表所有字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    id, employee_id, employee_name, sign_time, sign_out_time, org_id, px, py, location, 
    investor_id, remark, sign_date
  </sql>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - Criteria条件查询的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" >
        <if test="criteria.valid" >
          <if test="criteria.andRelation" >
            and
          </if>
          <if test="!criteria.andRelation" >
            or
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and|or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue and !criterion.orValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.noValue and criterion.orValue" >
                  or ${criterion.condition}
                </when>
                <when test="criterion.singleValue and !criterion.orValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.singleValue and criterion.orValue" >
                  or ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue and !criterion.orValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.betweenValue and criterion.orValue" >
                  or ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue and !criterion.orValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.listValue and criterion.orValue" >
                  or ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    <if test="orderBy != null" >
      order by ${orderBy}
    </if>
    <if test="start != null" >
      limit ${start}, ${pageSize}
    </if>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - Criteria条件查询的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <foreach collection="params.oredCriteria" item="criteria" >
        <if test="criteria.valid" >
          <if test="criteria.andRelation" >
            and
          </if>
          <if test="!criteria.andRelation" >
            or
          </if>
          <trim prefix="(" suffix=")" prefixOverrides="and|or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue and !criterion.orValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.noValue and criterion.orValue" >
                  or ${criterion.condition}
                </when>
                <when test="criterion.singleValue and !criterion.orValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.singleValue and criterion.orValue" >
                  or ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue and !criterion.orValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.betweenValue and criterion.orValue" >
                  or ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue and !criterion.orValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.listValue and criterion.orValue" >
                  or ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="model_where_clause" >
    <!--
      WARNING - 根据model条件，查询或更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="employeeId != null" >
          and employee_id = #{employeeId,jdbcType=VARCHAR}
        </if>
        <if test="employeeName != null" >
          and employee_name = #{employeeName,jdbcType=VARCHAR}
        </if>
        <if test="signTime != null" >
          and sign_time = #{signTime,jdbcType=TIMESTAMP}
        </if>
        <if test="signOutTime != null" >
          and sign_out_time = #{signOutTime,jdbcType=TIMESTAMP}
        </if>
        <if test="orgId != null" >
          and org_id = #{orgId,jdbcType=VARCHAR}
        </if>
        <if test="px != null" >
          and px = #{px,jdbcType=DECIMAL}
        </if>
        <if test="py != null" >
          and py = #{py,jdbcType=DECIMAL}
        </if>
        <if test="location != null" >
          and location = #{location,jdbcType=VARCHAR}
        </if>
        <if test="investorId != null" >
          and investor_id = #{investorId,jdbcType=VARCHAR}
        </if>
        <if test="remark != null" >
          and remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="signDate != null" >
          and sign_date = #{signDate,jdbcType=DATE}
        </if>
      </trim>
    </where>
    <if test="orderBy != null" >
      order by ${orderBy}
    </if>
    <if test="start != null" >
      limit ${start}, ${pageSize}
    </if>
  </sql>
  <sql id="update_model_where_clause" >
    <!--
      WARNING - 根据model条件，更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="params.employeeId != null" >
          and employee_id = #{params.employeeId,jdbcType=VARCHAR}
        </if>
        <if test="params.employeeName != null" >
          and employee_name = #{params.employeeName,jdbcType=VARCHAR}
        </if>
        <if test="params.signTime != null" >
          and sign_time = #{params.signTime,jdbcType=TIMESTAMP}
        </if>
        <if test="params.signOutTime != null" >
          and sign_out_time = #{params.signOutTime,jdbcType=TIMESTAMP}
        </if>
        <if test="params.orgId != null" >
          and org_id = #{params.orgId,jdbcType=VARCHAR}
        </if>
        <if test="params.px != null" >
          and px = #{params.px,jdbcType=DECIMAL}
        </if>
        <if test="params.py != null" >
          and py = #{params.py,jdbcType=DECIMAL}
        </if>
        <if test="params.location != null" >
          and location = #{params.location,jdbcType=VARCHAR}
        </if>
        <if test="params.investorId != null" >
          and investor_id = #{params.investorId,jdbcType=VARCHAR}
        </if>
        <if test="params.remark != null" >
          and remark = #{params.remark,jdbcType=VARCHAR}
        </if>
        <if test="params.signDate != null" >
          and sign_date = #{params.signDate,jdbcType=DATE}
        </if>
      </trim>
    </where>
  </sql>
  <select id="queryForList" resultMap="checkinResultMap" parameterType="com.wocai.jrt.employee.model.CheckinBean" >
    <!--
      WARNING - 根据Criteria所携带条件查询数据，不含Blob字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="queryList" resultMap="checkinResultMap" parameterType="com.wocai.jrt.employee.model.Checkin" >
    <!--
      WARNING - 根据params所携带条件查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkin
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="pagedForList" resultMap="checkinResultMap" parameterType="com.wocai.jrt.employee.model.CheckinBean" >
    <!--
      WARNING - 根据Criteria所携带条件分页查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="pagedList" resultMap="checkinResultMap" parameterType="com.wocai.jrt.employee.model.Checkin" >
    <!--
      WARNING - 根据params所携带条件分页查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkin
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="get" resultMap="checkinResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - 根据主键查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select 
    <include refid="Base_Column_List" />
    from checkin
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="unique" resultMap="checkinResultMap" parameterType="com.wocai.jrt.employee.model.Checkin" >
    <!--
      WARNING - 根据params所携带条件查询唯一记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkin
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <delete id="deleteById" parameterType="java.lang.String" >
    <!--
      WARNING - 根据主键删除记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from checkin
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteBatch" parameterType="com.wocai.jrt.employee.model.CheckinBean" >
    <!--
      WARNING - 根据Criteria所携带条件删除记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from checkin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteBulks" parameterType="com.wocai.jrt.employee.model.Checkin" >
    <!--
      WARNING - 根据params所携带条件删除数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from checkin
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </delete>
  <insert id="save" parameterType="com.wocai.jrt.employee.model.Checkin" >
    <!--
      WARNING - 插入记录，只有非空字段才会插入到数据库。
      MyBatis代码工具自动生成，不要修改！
    -->
    insert into checkin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="employeeName != null" >
        employee_name,
      </if>
      <if test="signTime != null" >
        sign_time,
      </if>
      <if test="signOutTime != null" >
        sign_out_time,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="px != null" >
        px,
      </if>
      <if test="py != null" >
        py,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="investorId != null" >
        investor_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="signDate != null" >
        sign_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null" >
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null" >
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signOutTime != null" >
        #{signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="px != null" >
        #{px,jdbcType=DECIMAL},
      </if>
      <if test="py != null" >
        #{py,jdbcType=DECIMAL},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="investorId != null" >
        #{investorId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="count" parameterType="com.wocai.jrt.employee.model.CheckinBean" resultType="java.lang.Integer" >
    <!--
      WARNING - 根据Criteria所携带条件进行count计数。
      MyBatis代码工具自动生成，不要修改！
    -->
    select count(*) from checkin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countBy" parameterType="com.wocai.jrt.employee.model.Checkin" resultType="java.lang.Integer" >
    <!--
      WARNING - 根据params所携带条件计数。
      MyBatis代码工具自动生成，不要修改！
    -->
    select count(*) from checkin
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <update id="updateBatch" parameterType="map" >
    <!--
      WARNING - 根据Criteria所携带条件更新指定字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    update checkin
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeId != null" >
        employee_id = #{record.employeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeName != null" >
        employee_name = #{record.employeeName,jdbcType=VARCHAR},
      </if>
      <if test="record.signTime != null" >
        sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signOutTime != null" >
        sign_out_time = #{record.signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.px != null" >
        px = #{record.px,jdbcType=DECIMAL},
      </if>
      <if test="record.py != null" >
        py = #{record.py,jdbcType=DECIMAL},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.investorId != null" >
        investor_id = #{record.investorId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.signDate != null" >
        sign_date = #{record.signDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateBulks" parameterType="map" >
    <!--
      WARNING - 根据params所携带条件更新指定字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    update checkin
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeId != null" >
        employee_id = #{record.employeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeName != null" >
        employee_name = #{record.employeeName,jdbcType=VARCHAR},
      </if>
      <if test="record.signTime != null" >
        sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signOutTime != null" >
        sign_out_time = #{record.signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.px != null" >
        px = #{record.px,jdbcType=DECIMAL},
      </if>
      <if test="record.py != null" >
        py = #{record.py,jdbcType=DECIMAL},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.investorId != null" >
        investor_id = #{record.investorId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.signDate != null" >
        sign_date = #{record.signDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="update_model_where_clause" />
    </if>
  </update>
  <update id="updateById" parameterType="com.wocai.jrt.employee.model.Checkin" >
    <!--
      WARNING - 根据主键更新指定字段的数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    update checkin
    <set >
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null" >
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null" >
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signOutTime != null" >
        sign_out_time = #{signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="px != null" >
        px = #{px,jdbcType=DECIMAL},
      </if>
      <if test="py != null" >
        py = #{py,jdbcType=DECIMAL},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="investorId != null" >
        investor_id = #{investorId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        sign_date = #{signDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>